body {
    font-family: merriweather sans, sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: lightgrey;

}

.header {
    border:1px solid lightgrey;
    //box-shadow: 2px 2px 2px lightgrey;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.tags {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;

    &-item {

        background-color: lightgray;
        border-radius: 5px;
        padding: 3px 5px;
        margin:10px;
        box-sizing: border-box;
        font-size: 12px;

        &:hover {
            cursor:pointer;
        }

    }
}

input[type="checkbox"] {
    display: none;
}

.checkbox:checked + .tags-item {
    background-color: red;
}

.sort {
    display: flex;

    &-name {
        margin:0 10px 0 0;
    }
}

#post-container {

    padding: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}

.post {
    min-width: 200px;
    padding: 20px;
    background-color: #fff;
    border:1px solid white;
    box-shadow: 2px 2px 2px rgb(230, 229, 229);
    position: relative;

    &-name {
        text-align: center;
    }

    &-date {
        text-align: right;
        margin-bottom: 10px;

    }

    &-body {
        text-align: justify;
    }

}

.btn-delete {
    position: absolute;
    top:0;
    right:10px;
    color: red;
    font-size: 30px;
    cursor: pointer;
}