body {
    font-family: merriweather sans, sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: lightgrey;

}

.header {
    border:1px solid lightgrey;
    //box-shadow: 2px 2px 2px lightgrey;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.tags {
    display: flex;
}

.main {

    padding: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
}

.post {
    width: 300px;
    background-color: #fff;
    border:1px solid lightgrey;
    box-shadow: 2px 2px 2px lightgrey;

}